@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.login-view .container {
  font-family: "Poppins", sans-serif;
}

.btn-main-admin {
  @apply bg-red-500 text-white py-2 px-4 rounded-md cursor-pointer font-semibold transition-transform duration-300 ease-in-out;
}

.btn-before-after {
  @apply bg-white py-2 px-4 rounded-md cursor-pointer text-sm transition-transform duration-300 ease-in-out hover:bg-gray-100;
}
/* .border {
  border: 1px solid #000;
}
.select-bordered {
  border: 1px solid #000;
}
.shadow-xl {
  box-shadow: 0 4px 6px -1px rgb(20 20 20), 0 2px 4px -2px rgb(255 8 8);
} */
